<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Linking bootstrap CSS Responsive design -->
 <link rel="stylesheet" href="../static/main.css"> <!-- Linking the main css -->
<style>

.container {
  max-width: 800px;
  width: 100%;
  margin-top: 20%;
  position: relative;
}

</style>
<title>Home</title>
</head>
<body>
<div class="container"> <!-- This will be 800px width and will margin top 20% -->
	<div class="row"> <!-- 3 buttons for 3 uses. newpackage, inventory, packagesend -->
		<div class="col-md-4"><button type="button" onclick="location.href='{{ url_for('newpackage') }}'"><h4>NewPackage</button></h4></div>
		<div class="col-md-4"><button type="button" onclick="location.href='{{ url_for('inventory') }}'"><h4>Inventory</h4></button></div>
		<div class="col-md-4"><button type="button" onclick="location.href='{{ url_for('packagesend') }}'"><h4>PackageSend</h4></button></div>
	</div>	
</div>	
</body>
</html>
