<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="../static/main.css">
<style>

.container {
  max-width: 800px;
  width: 100%;
  margin-top: 20%;
  position: relative;
}

</style>
<title>Home</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-4"><button type="button" onclick="location.href='http://localhost:5000/NewPackage'"><h4>NewPackage</button></h4></div>
		<div class="col-md-4"><button type="button" onclick="location.href='http://localhost:5000/Inventory'"><h4>Inventory</h4></button></div>
		<div class="col-md-4"><button type="button" onclick="location.href='http://localhost:5000/PackageSend'"><h4>PackageSend</h4></button></div>
	</div>	
</div>	
</body>
</html>
